name: MLOps CI

on:
  push:
    branches:
        - main

jobs:
    workflow:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11.5"

            - name: Install dependencies
              run: |
                pip install uv
                uv pip install --system -r requirements.txt